# Environment Variables
NODE_ENV=development
PORT=3001
MONGODB_URI=mongodb+srv://hosannaking2019_db_user:Jpa6OKi13byUOjXX@cluster0.8sxtlrv.mongodb.net/?appName=Cluster0
JWT_SECRET=secret
JWT_EXPIRE=7d
